{% extends 'index.html' %}
{% block contenido%}

{% if pokemon %}
<div class="card" style="margin: auto;">
 
  <img src="{{ pokemon.sprite }}" class="card-img-top" alt="{{ pokemon.name }}">

  <div class="card-body">
    <h5 class="card-title">{{ pokemon.name }}</h5>

    <p class="card-text">
      <strong>ID:</strong> {{ pokemon.id }}<br>
      <strong>Altura:</strong> {{ pokemon.height }} m<br>
      <strong>Peso:</strong> {{ pokemon.weight }} kg
    </p>

    <p class="card-text">
      <strong>Tipos:</strong> 
      {% for tipo in pokemon.types %}
        {{ tipo }}{% if not loop.last %}, {% endif %}
      {% endfor %}
    </p>

    <p class="card-text">
      <strong>Habilidades:</strong>
      {% for habilidad in pokemon.abilities %}
        {{ habilidad }}{% if not loop.last %}, {% endif %}
      {% endfor %}
    </p>

    <a href="https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/{{ pokemon.id }}.ogg" class="btn btn-primary mt-2">Escuchar</a>
  </div>
</div>
{% else %}
<p>No se encontró Pokémon.</p>
{% endif %}
{% endblock %}